.hero {
    padding-top: 130px;
    padding-bottom: 40px;
    margin-bottom: 165px;
    background-image: url(../../images/hero-bg.jpg);
    min-height: 620px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    &__inner {
        display: flex;
    }
    &__column-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #2F281E;
        margin-bottom: 22px;
        max-width: 354px;
    }
    &__column-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #567592;
        margin-bottom: 45px;
        max-width: 542px;
    }
    &__column-btn {
        display: inline-block;
        
        padding: 15px 31px;
        font-weight: 700;
        width: 216px;
        height: 53px;
        border-radius: 4px;
        border: 1px solid #FF9900;
        cursor: pointer;
        background-color: #FF9900;
        font-family: Poppins;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 105px;
    }
    &__column-image-5 {
        margin-bottom: 142px;
        margin-top: 55px;
    }

    &__column-image-4 {
        margin-bottom: 184px;
        margin-left: -160px;
    }
    &__column-two {
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 1340px) {
    .hero {
        &__column-image-4 {
            margin-bottom: 184px;
            margin-left: -227px;
        }
        &__column-image-3 {
            margin-bottom: 91px;
            margin-left: -57px;
        }
        &__column-image-5 {
            margin-top: 57px;
            margin-left: 30px;
        }
        &__column-image-1 {
        margin-bottom: 142px;
        margin-top: 55px;
        }
    }
}

// @media (max-width: 1115px) {
// .hero {
    
//     &__column-one {
//         display: none;
//     }
//     &__column-three {
//         display: none;
//     }
//     &__column-two {

//     }
// }
// }

@media (max-width: 1115px) {
.hero {
        &__inner {
            display: block;
        }
        &__column-one {
            display: none;
        }
        &__column-three {
            display: none;
        }
        &__column-text {
            font-size: 26px;
            line-height: 39px;
            text-align: center;
            color: #567592;
            margin-bottom: 55px;
            max-width: 542px;
        }
        &__column-btn {
            margin-bottom: 65px;
        }
    }       
}

@media (max-width: 500px) {
    .hero {
            &__inner {
                display: block;
            }
           
            &__column-text {
                
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #567592;
                margin-bottom: 55px;
                
            }
            &__column-btn {
                margin-bottom: 65px;
            }
        }       
    }

    @media (max-width: 390px) {
        .hero {
               &__column-image-2 {
                   max-width: 300px;
               }
            }       
        }