.superpowers {
    margin-bottom: 111px;
    &__inner {
        display: flex;
    }

    &__info {
        max-width: 458px;
        margin-right: 63px;
        margin-top: 87px;
    }
    &__img img {
        max-width: 602px;
        max-height: 495px;
    }
    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 54px; 
        margin-bottom: 30px;
    }
    &__text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #544837;
        margin-bottom: 45px;
    }
    &__btn-orange {
        padding: 15px 41px;
        font-weight: 700;
        width: 175px;
        height: 53px;
        border-radius: 4px;
        border: 1px solid #FF9900;
        cursor: pointer;
        background-color: #FF9900;
        font-size: 16px;
        line-height: 24px;  
        color: #fff;  

        margin-right: 51px;
    }
    &__btn-white {
        position: relative;

        font-weight: 600;
        width: 161px;
        height: 23px;
        border-bottom: 1px solid #FF9900;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;  
        color: #FF9900;        
    }

    &__btn-white::before {
        position: absolute;
        content:'';
        background-image: url(../../images/triangle.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 24px;
        left: -22px;
        top: 0px;
    }
}

    @media (max-width: 1100px) {
        .superpowers {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__started {
                display: flex;
                flex-direction: column;
            }
           &__btn-orange {
               margin-bottom: 40px;
           }
           &__btn-white {
               margin-left: 22px;
            border-bottom: none;
           }
           &__img img {
            max-width: 576px;
            max-height: 451px
           }
        }
    }

    @media (max-width: 910px) {
        .superpowers {
            &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
            }
            &__started {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            &__btn-white {
             margin-left: -19px;
             border-bottom: none;
             margin-bottom: 20px;
            }
        }
    }



    @media (max-width: 600px) {
        .superpowers {
          
            &__title {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 15px;
            }
            &__text {
                font-size: 15px;
                line-height: 25px;
            } 
            &__img img {
                max-width: 380px;
                max-height: 360px;
               }
        }
    }

    @media (max-width: 445px) {
        .superpowers {
            &__info {
                margin-left: 20px;
            }
            &__started {
                margin-left: 30px;
            }

            &__img img {
                max-width: 260px;
                max-height: 290px;
               }
        }
    }

    @media (max-width: 390px) {
        .superpowers {
            &__info {
                margin-right: 0;
                margin-left: 0;
            }
            &__started {
                margin-left: 0;
            }

            &__img img {
                max-width: 260px;
                max-height: 290px;
               }
            &__img img {
            display: none;
               }
               &__btn-orange {
              margin: 0;
              margin-bottom: 40px;
            }
               &__btn-white {
                   margin: 0;
                   padding: 0;
                background-image: none;
                border-bottom: 1px solid #FF9900;
                
            }
               &__btn-white::before {
                background-image: none;
            }
        }
    }